body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(200deg, #a85d0a, #d99c2b,#f5d547 );
  text-align: center;
  padding: 25px 10px;
}

h1 {
  font-size: 2.2em;
  color: #2b1b00;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header p {
  margin: 5px 0 0;
  font-weight: bold;
  color: #fff;
}

nav {
  background-color: #111;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ffcc00;
}

nav a {
  color: #ffcc00;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
}

section {
  padding: 30px 15px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #ffcc00;
  text-align: center;
  margin-bottom: 25px;
}

.item {
  display: flex;
  align-items: center;
  background-color: #111;
  border: 1px solid #ffcc00;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.02);
}

.item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
}

.info h3 {
  margin: 0;
  color: #ffcc00;
}

.info p {
  margin: 5px 0;
  color: #ddd;
}

.preco {
  color: #fff;
  font-weight: bold;
  background-color: #b30000;
  padding: 5px 10px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 8px;
}

footer {
  text-align: center;
  background-color: #b30000;
  color: #fff;
  padding: 15px;
  margin-top: 40px;
  font-size: 0.9em;
}

.footer-social img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  transition: transform 0.3s, filter 0.4s;
  opacity: 0.9;
  margin: 0 12px;
}

.footer-social img:hover {
  transform: scale(1.25);
  filter: saturate(8) hue-rotate(10deg) brightness(1.4);
  opacity: 1;
}

